<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Person</title>
</head>
<body>
<h2>Edit Person</h2>
<form method="post" action="/persons/update/{id}">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="{person.name}"><br>
  <label for="age">Age:</label>
  <input type="number" id="age" name="age" value="{person.age}"><br>
  <input type="submit" value="Update Person">
</form>
<a href="/persons/">Back to List</a>
</body>
</html>
